.btn {
  @apply border border-brand-graylight font-medium pt-1 pb-1 pl-3 pr-3 rounded-sm text-center;

  display: inline-block;
  color: theme('colors.border-brand-blacksemi');
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  @apply bg-brand-graylight;
}
